!!! 5
%html
  {% include document-head.html %}
  %body
    %section#sidebar
      %a.brand{:href => "{{ HOME_PATH }}"}
        {{ site.title }}
      %nav
        %ul
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
      %h3 
        Recent Posts
      {% for post in site.posts %}
      %li
        %a{:href => '{{ BASE_PATH }}{{ post.url }}'}
          %span
            {{ post.date | date_to_string }}
            &raquo; 
            {{ post.title }}
      {% endfor %}

    %section.content
      {{ content }}

    %footer
      %p 
        &copy; {{ site.author.name }} 2013 
        %br
        With help from
        %a{:href => 'http://jekyllbootstrap.com', :target => '_blank'}Jekyll Bootstrap